.vis-container {
    width: 100%;
}

.page {
    width: 1150px;
    background-color:#e8e8e4;
    margin: auto;
    padding: 50px;
    padding-top: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

.pure-g {
	float: left;
  width: 50%;
	padding: 1px;
  }
  
/* Clearfix (clear floats) */
.row::after {
	content: "";
	clear: both;
	display: table;
  }

h1 {text-align: center;}